<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--一个mapper对应一个接口-->
<mapper namespace="com.example.m2.dao.CartMapper">

    <select id="queryCartByUserId" resultType="Cart">
        select * from BookMall.cart where user_id = #{user_id}
    </select>

    <insert id="createCart" parameterType="Cart">
        insert into BookMall.cart (id,user_id,cart_date) values(#{id},#{user_id},#{cart_date});
    </insert>


</mapper>