<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--一个mapper对应一个接口-->
<mapper namespace="com.example.m2.dao.order_itemsMapper">

    <select id="queryItemById" resultType="order_items">
        select *  from BookMall.order_items where id = #{id}
    </select>

    <select id="queryItemByOrderNo" resultType="order_items">
        select *  from BookMall.order_items where order_no = #{order_no}
    </select>

    <insert id="addItem" parameterType="order_items">
        insert into BookMall.order_items (order_no,bookID,bookName,quantity) values(#{order_no},#{bookID},#{bookName},#{quantity});
    </insert>
    <delete id="deleteItemById" parameterType="int">
        delete from BookMall.order_items where id = #{id}
    </delete>


</mapper>